@keyframes colorChange {
  0% {
    color: #4ade80;
  }
  25% {
    color: #f97316;
  }
  50% {
    color: #eab308;
  }
  75% {
    color: #3b82f6;
  }
  100% {
    color: #4ade80;
  }
}
.hover\:animate-colorChange:hover {
  animation: colorChange 2s infinite;
}

.name {
  animation: colorChange 2s infinite;
}